################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Users/DesignTimeBuild/.dtbcache
/.vs/Users/v16/Server/sqlite3/db.lock
/.vs/Users/v16/Server/sqlite3
